@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Definisikan font utama di theme */
@theme {
    --font-sans: "Outfit", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

/* Adds pointer cursor to buttons */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

/* Optional: gaya dasar agar konsisten */
@layer base {
    html {
        font-family: var(--font-sans);
        scroll-behavior: smooth;
    }

    body {
        @apply text-base-content bg-base-100 antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold tracking-wide;
    }
}
